<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button slot="icon-only" (click)="dismiss()"><ion-icon name="close"></ion-icon></ion-button>
        </ion-buttons>
        <ion-title>Resumen</ion-title>
        <ion-buttons slot="end">
            <ion-button slot="icon-only"><ion-icon name="print"></ion-icon></ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list *ngFor="let categorySumm of cartStateSummary | keyvalue">
        <ion-list-header>
            <div class="category-title">
                <ion-icon [name]="categorySumm.value.category.icon"></ion-icon>
                <ion-label>{{ categorySumm.key }}</ion-label>
            </div>
        </ion-list-header>
        <ion-item *ngFor="let typeTickets of categorySumm.value.tickets | keyvalue">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <tb-ticket [ticket]="typeTickets.value.ticket"></tb-ticket>
                    </ion-col>
                    <ion-col>
                        <ion-input class="input-units" type="number" [value]="typeTickets.value.units" min="1"></ion-input>
                    </ion-col>
                    <ion-col>
                        <ion-label> = {{ typeTickets.value.total }} € </ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
    <!-- <ion-list>
        <ion-item *ngFor="let item of ticketsByType | keyvalue">
            <ion-avatar slot="start">
                <ion-icon [name]="item.value.ticket.category.icon" size="large"></ion-icon>
            </ion-avatar>
            <ion-label>{{ item.key }}</ion-label>
            <div class="item-note" slot="end">{{ item.value.units }}</div>
            <div class="item-note" slot="end">{{ item.value.total }} €</div>
        </ion-item>
    </ion-list> -->
</ion-content>
