<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ category?.name }}</ion-title>
        <ion-chip slot="end">
            <ion-icon name="cart"></ion-icon>
            <ion-badge>{{ total }}</ion-badge>
        </ion-chip>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid *ngIf="!!category">
        <ion-row>
            <ion-col col-md-4 *ngFor="let ticketType of category.tickets">
                <ion-card button="true" (click)="addTicket(ticketType)">
                    <ion-card-header>
                        <ion-item lines="none">
                            <ion-label>{{ ticketType.name }}</ion-label>
                            <ion-badge slot="end">{{ summary[ticketType.name] }}</ion-badge>
                        </ion-item>
                    </ion-card-header>
                    <ion-card-content><ion-label class="price">{{ ticketType.price }} €</ion-label></ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
