<ion-card>
    <ion-card-header>
        <ion-item lines="none">
            <ion-label>{{ type.name }}</ion-label>
            <ion-badge slot="end">{{ count }}</ion-badge>
        </ion-item>
    </ion-card-header>
    <ion-card-content>
        <ion-label class="price">{{ type.price }}</ion-label>
        <ion-toolbar>
            <ion-buttons slot="start" style="max-width: 50%;">
                <ion-button slot="icon-only" (click)="removeTicket()">
                    <ion-icon name="remove"></ion-icon>
                </ion-button>
                <ion-input type="number" [(ngModel)]="ticketsNumber" min="0" placeholder="0"></ion-input>
                <ion-button (click)="addTicket($event)">
                    <ion-icon name="add"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="clear($event)">
                    <ion-icon slot="icon-only" name="trash" size="small"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-card-content>
</ion-card>
