.price {
    font-size: x-large;
    padding-left: 20%;
}
ion-card-header {
    font-size: x-large;
}

ion-card-content {
    ion-toolbar {
        ion-button {
            text-transform: capitalize;
        }
    }
}
