.price {
    font-size: x-large;
    padding-left: 20%;
    // position: absolute;
    // left: 50%;
    // right: 50%;
    // transform: translate(-50%, -50%);
}
.price:after {
    content: ' €';
}
ion-card {
    max-width: 17rem;
}
ion-card-header {
    font-size: x-large;
}

ion-card-content {
    ion-toolbar {
        ion-button {
            text-transform: capitalize;
        }
        ion-input {
            min-width: 2.5rem;
        }
    }
}
