<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Categorías</ion-title>
        <ion-buttons slot="end">
            <ion-button slot="icon-only" (click)="showActions()">
                <ion-icon name="more"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item lines="none" *ngFor="let category of categories" routerLink="categories-config">
            {{ category.name }}
        </ion-item>
    </ion-list>
</ion-content>
