<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Categorías</ion-title>
        <ion-buttons slot="end">
            <ion-button slot="icon-only" (click)="showActions()">
                <ion-icon name="more"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list *ngIf="!!(categories$ | async) && (categories$ | async).length > 0; else noCategories">
        <ion-item lines="none" *ngFor="let category of (categories$ | async)" class="category-item">
            <div [style.color]="category.color" (click)="openCategoryConfig(category)">
                <ion-icon [name]="category.icon" slot="start" [color]="category.color"></ion-icon>
                {{ category.name }}
            </div>
            <ion-buttons slot="end">
                <ion-button slot="icon-only" (click)="delete(category)">
                    <ion-icon name="close"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-item>
    </ion-list>
    <ng-template #noCategories>
        <div class="no-categories">
            <ion-icon size="large" name="filing"></ion-icon>
            <ion-label>No hay categorías configuradas</ion-label>
        </div>
    </ng-template>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="light" (click)="openCategoryConfig()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
