.input-color-picker {
    max-width: 2.5rem;
    margin-top: 1.5rem;
    border: thin solid grey;
}

// // input[type='file'] {
// .hide {
//     // display: none;
//     visibility: hidden;
//     margin: 10px;
// }
// // input[type='file'] + label {
// .hide + label {
//     display: inline-block;
//     margin: 20px;
//     padding: 4px 32px;
//     background-color: #ffffff;
//     border: solid 1px #666f77;
//     border-radius: 6px;
//     color: #666f77;
// }
// // input[type='file']:active + label {
// input.hide:active + label {
//     background-image: none;
//     background-color: #2d6c7a;
//     color: #ffffff;
// }
