<ion-list>
    <ion-item *ngFor="let ticket of tickets">
        <div id="print-section">
            <ion-card>
                <ion-card-header class="ticket-title">
                    <ion-label>Kiosko El Korner</ion-label>
                </ion-card-header>
                <ion-card-content *ngIf="!!ticket">
                    <ion-thumbnail class="ticket-image">
                        <img src="assets/icon/favicon.png" />
                    </ion-thumbnail>
                    <div class="ticket-content">
                        <ion-label class="ticket-name">{{ ticket.type.name | uppercase }}</ion-label>
                        <ion-label class="ticket-price" slot="end">{{ ticket.type.price }} €</ion-label>
                    </div>
                </ion-card-content>
            </ion-card>
        </div>
    </ion-item>
</ion-list>
