<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Ajustes
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list>
            <ion-list-header>
                <ion-label color="primary">Categorías</ion-label>
            </ion-list-header>
            <ion-item lines="none" routerLink="categories-config">
                {{ categoriesNumber }} {{ (categoriesNumber === 1 ? 'categoría' : 'categorías')}}
            </ion-item>
        </ion-list>
        <ion-list-header>
            <ion-label color="primary">Impresión</ion-label>
        </ion-list-header>
        <ion-item lines="none">
            <ion-label>
                <h2>Impresora favorita</h2>
                <p>{{ defaultPrinter?.name || 'No configurada' }}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
