<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title translate>
            CONFIG.TITLE
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list>
            <ion-list-header>
                <ion-label color="primary" translate>CONFIG.CATEGORIES.TITLE</ion-label>
            </ion-list-header>
            <ion-item lines="none" routerLink="categories-config">
                {{ categoriesText }}
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-list-header>
                <ion-label color="primary" translate>CONFIG.TICKETS.TITLE</ion-label>
            </ion-list-header>
            <ion-item lines="none" routerLink="tickets-config">
                {{ ticketsText }}
            </ion-item>
        </ion-list>
        <ion-list-header>
            <ion-label color="primary" translate>CONFIG.PRINTING.TITLE</ion-label>
        </ion-list-header>
        <ion-item lines="none">
            <ion-label>
                <h2 translate>CONFIG.PRINTING.FAVOURITE</h2>
                <p translate>{{ defaultPrinter?.name || 'CONFIG.PRINTING.NOT_SET' }}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
