.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
}

.no-category-selected {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    color: grey;
}

tb-cart-button:focus {
    outline: none;
}
